<center> <h1>Edit Employee</h1> <center>

<%= render 'form' %>

<p>
	<%= link_to "<button>show</button>" .html_safe, @employee %>

	<%= link_to "<button>view all</button>" .html_safe, employees_path %>
</p>
